@model EnfcGlog.Models.Equipe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Equipe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PouleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PouleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ecole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ecole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nbPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nbPoints)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
