@model IEnumerable<EnfcGlog.Models.Poule>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(item=>item.Id)
            </th>
            <th>
                @Html.DisplayNameFor(item=>item.classement)
            </th>
            <th>
                @Html.DisplayNameFor(item=>item.lesMatchs)
                
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(itemModel=>item.Id)
            </td>
            <td>
                @Html.DisplayFor(itemModel=>item.classement)
            </td>
            <td>
                @Html.DisplayFor(itemModel=>item.lesMatchs) 
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
